version: '3.9'
services:
  message-queue:
    image: rabbitmq:management
    container_name: rabbitmq-server
    ports:
      - 5672:5672
      - 0.0.0.0:15672:15672
    environment:
      - RABBITMQ_DEFAULT_USER={{ rabbitmq_username }}
      - RABBITMQ_DEFAULT_PASS={{ rabbitmq_password }}
  local-data-service:
    image: blipshare/local_data_service:latest
    container_name: local-data-service
    volumes:
      - ./data-service/local/db:/app/db
    ports:
      - 0.0.0.0:11002:11002
    restart: on-failure
  message-publisher:
    image: blipshare/message-publisher:edge
    container_name: message-publisher
    environment:
      - HOST=0.0.0.0
      - PORT=11004
      - WORKERS=4
      - BROKER_URL={{ broker_url }}
    ports:
      - 0.0.0.0:11004:11004
  dashboard:
    image: blipshare-artifactory:8082/blipshare/dashboard:edge
    container_name: dashboard
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./data:/usr/share/nginx/html/output
    ports:
      - 0.0.0.0:80:80
